html {
  height: 100%;
}

body.dark-mode {
  background-image: url("/static/images/Campdark.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  background-color: lightslategray;
  color: Black;
  position: absolute;
  right: 10px;
  top: 5px;
  
}
body.light-mode {
  background-image: url("/static/images/campday.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #pageh{
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkgreen;
    border-bottom: 1.5px solid darkgreen;
    text-align:center;
    color: red;
    background: silver; 
    opacity: 0.75;
  }

  #map{
    max-width: 700px;
    height: 350px;
    border: 3px solid darkgreen;
    border-top: 1.5px solid darkgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #facts{
    max-width: 700px;
    height: 80px;
    border: 3px solid darkgreen;
    border-top: 1.5px solid darkgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: silver;
    opacity: 0.75;
  }
 
#fudiv{
  border:1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  margin-bottom: auto;
  padding:4px;
  width:20em;
  background: silver;
  /* opacity: 1; */
  }

 